/* Temp Outlines */
/*.container {outline: 1px solid blue; }*/
/*#hangman { outline: 10px solid yellow; }*/
/*#player-wrap { outline: 2px solid red; }*/
/*.lane { outline: 2px solid blue; }*/


/*#ltr-board { outline: 2px solid blue; }*/
/*#guesses-left { outline: 2px solid yellow; }*/
/*#wrong-ltrs { outline: 2px solid red; }*/
/*.scoreboard-section { outline: 2px solid red; }*/


/* General Styling -----*/
	html {
		font-family: 'courier new','courier',monospace;
		font-family: 'Helvetica Neue',Roboto,Helvetica, Arial, sans-serif;
		/*text-transform: uppercase;*/

	}
	body {
		/*background-color: #fdebb5;*/
	}
	#page-title {
		font-size: 70px;
		line-height: 1em;
		width: 100%;
		text-align: center;
		font-family: Roboto; 
		/*font-family: 'Roboto Mono';*/
		font-weight: 900;
		letter-spacing: -1px;
		padding: 20px 0;
		text-transform: uppercase;
		margin-bottom: 15px;
		display: inline-block;
		text-align: left;
		/*width: initial;*/
	}
	#page-title span {
		display: inline-block;
		font-size: 30px;
		text-transform: none;
		font-weight: normal;
		font-family: 'rock salt';
		color: #e74c3c;
		width: initial;
		height: inherit;
		line-height: inherit;
		float: right;
	}
	.subheadline {
		font-size: 24px;
		line-height: 1.2em;
		font-family: 'cutive mono';
		width: 80%;
		margin: 0;
		text-align: left;
		display: inline-block;
	}
	h3.subheadline {
		font-style: italic;
		text-decoration: underline;
		font-size: 24px;
		margin-top: 10px;
		color: #e74c3c;
	}
	h2 {
		font-size: 18px;
		/*font-weight: bold;*/
		/*text-transform: uppercase;*/
		margin: 10px 30px;
		display: inline-block;
		position: relative;
	}
	h3 {
		display: inline-block;
	}
	button {
		font-size: 20px;
		min-height: initial;
		height: 3em;
		line-height: 3em;
		min-width: initial;
		width: initial;
		padding: 0 1em;
		/*margin: 1em;*/
		background-color: #2980b9;
		color: #fff;
		cursor: pointer;
		outline: none;
		text-transform: uppercase;
		display: inline-block;
		border: none;
		float: right;
	}
	.centered {
		/*padding: 0;*/
	}
	.centered h2, 
	.centered h3 {
		width: 100%;
		margin: 0;
	}

/* Containers -----*/
	#gbl-container {
		width: 100%;
		min-width: 400px;
		margin: 0 auto;
	}
	.container {
		display: inline-block;
		position: relative;
		margin: 10px 0;
		padding: 20px 5%;
		/*border: 2px solid #666;*/
		height: initial;
		width: 90%;
	}
	.content-wrap {
		display: inline-block;
		margin-left: 20px;
	}
	div.container.bound {
		display: block;
		width: 60%;
		margin: 0 auto;
	}

/* Letter Board -----*/
	.ltr-board.container {
		position: relative;
		width: 90%;
		padding: 0 5%;
		min-width: initial;
		height: 80px;
		line-height: 80px;
		/*text-align: center;*/
		color: #fff;
		background-color: #795548;
	}
	.ltr-board h2 {
		float: left;
		margin: 0;
		margin-right: 20px;
		font-weight: normal;
		font-size: 24px;
	}
	.ltr-board-wrap {
		position: relative;
		margin: 0;

		height: inherit;
		line-height: inherit;
	}
	.ltr-space {
		font-size: 30px;
		/*font-family: 'courier new','courier', monospace;*/
		margin: 20px 5px;
		padding: 5px;
		display: inline-block;
		min-width: .7em;
		width: initial;
		height: 1em;
		line-height: 1em;
		float: left;
		text-align: center;
		outline: 1px solid #666;
		background-color: #fff;
			font-weight: bolder;
			text-transform: uppercase;
			color: #000;
			font-family: 'permanent marker', courier, monospace;
			font-family: Graduate;
			font-family: 'Roboto Mono';
			font-family: 'Cutive Mono';
	}


/* Hangman Graphics -----*/

	#hangman.container {
		height: initial;
		min-height: 400px;
		width: 100%;
		overflow: hidden;
		padding: 0;
		/*padding-top: 40px;*/
		padding-bottom: 80px;
		margin: 50px 0;
			/*background-color: #00897B;*/
			/*background-color: #AFB42B;*/
			/*background-color: #0288D1;*/
			/*background-color: #00796B;*/
			/*background-color: #00838F;*/
	}	
	#player-wrap {
		width: 100%;
		height: inherit;
		margin-left: auto;
		display: block;
		position: relative;	
	}
	.lane {
		width: 100%;
		height: 100px;
		position: relative;
	}

	img.ln-decor {
		width: inherit;
		width: 110%;
		position: absolute;
		left: -5%;
		top: 50px;
	}
	img.flag {
		height: 100px;
		width: initial;
		position: absolute;
	}
	#start-flag { 
		left: 15%;
		margin-left: -10px; 
	}
	#finish-flag { 
		left: 85%;
		margin-left: -50px; 
	}

	#track-bound {
		position: absolute;
		width: 70%;
		margin: 0 auto;
		margin-left: 15%;
		display: inline-block;
		/*outline: 4px solid red;*/
		height: 100%;
		z-index: 100;
		/*background-color: yellow;*/
		/*opacity: .2;*/
		/*border-left: 2px dashed green;*/
		/*border-right: 2px dashed red;*/
	}

	.track-bumper {
		position: absolute;
		width: 15%;
		display: inline-block;
		height: 100%;
		z-index: 100;
		background-color: #666;
		opacity: .1;
	}
	#bumper1 { left: 0; }
	#bumper2 { right: 0; }
	
	/* Z-indexes*/
		#lane0 .ln-decor 	{ z-index: 3; 	}
		#lane1 .ln-decor 	{ z-index: 7; 	}
		#lane2 .ln-decor 	{ z-index: 17; 	}
		#lane3 .ln-decor 	{ z-index: 27; 	}
		#lane4 .ln-decor 	{ z-index: 37; 	}
		
		#lane1 .char 	{ z-index: 5; 	}
		#lane2 .char 	{ z-index: 15; 	}
		#lane3 .char 	{ z-index: 25; 	}
		#lane4 .char 	{ z-index: 35; 	}

		#lane1 .backing		{ z-index: 6; 	}
		#lane2 .backing		{ z-index: 16; 	}
		#lane3 .backing		{ z-index: 26; 	}
		#lane4 .backing		{ z-index: 36; 	}

	.char {
		display: inline-block;
		position: absolute;
		height: initial;
		width: 140px;
		margin-left: -140px;
	}
	
/* Instructions -----*/
	.instructions.container {
		width: 40%;
		display: inline-block;
	}

/*Scoreboard -----*/
	.scoreboard.container {
		width: initial;
		/*min-width: 100px;*/
		/*max-width: 300px;*/
		padding: 10px;
		/*padding: 0;*/
		height: initial;
		display: inline-block;
		background-color: #2c3e50;
	}

	.scoreboard-section {
		width: initial;
		/*min-width: 30px;*/
		/*max-width: 100px;*/
		height: initial;
		padding: 15px 0;
		margin: 10px;
		display: inline-block;
		float: left;
		background-color: #fff;
		color: #333;
	}
	.scoreboard h2 {
		font-size: 20px;
		font-weight: bold;
		margin-bottom: 5px;
	}
	.scoreboard h3 {
		font-size: 36px;
		font-family: 'courier new', courier, monospace;
		font-family: Graduate;
	}

/* Scoreboard: Strikes; -----*/
	.strikes-left {
		text-align: center;
	}


/*-------------------------------------
	SECTION: Scores, Wrong Letters 
-------------------------------------*/
	.section-wrap {
		width: 70%;
		margin: 20px auto;
	}
/*-------------------------------------
	Wrong Letters 
-------------------------------------*/
	#wrong-ltrs {
		font-size: 20px;
		width: 60%;
		float: right;
		padding: 0 20px;
		background-color: #e74c3c;
	}






